* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%
}

#app{
	height: 100%;
}


/*添加模态框*/

.page-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
}


/*单页面的布局*/

.page{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
}


/*头部的布局*/

.toolbar {
    flex: 0 1 auto;
}


/*内容的布局*/

.page-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    flex-flow:column nowrap;
}
